body {
	background: white;
	font-family: sans-serif;
	margin: 0;
	margin-top: 4%;
}
p {
	border-radius: 7px;
	border: 1px solid black;
}
a {
	color: #228B22;
}
header {
	background: transparent;
	color: black;
	padding: 15px 100px 15px 10px;
	position: fixed;
	top: 0;
	width: 100%;
}
h1 {
	display: inline;
	font-size: 19px;
	text-transform: uppercase;
	color: white;
	-webkit-text-stroke: 1px black;
}
h2 {
	position: absolute;
	top: 28%;
	left: 58%;
	font-size:17px;
	color: #555;
}
h3 {
	position: absolute;
	top: 10%;
	left: 45%;
	font-size: 56px;
}
nav ul {
	display: inline;
}
nav ul li {
	position: relative;
	right: 4%;
	display: inline-block;
	list-style-type: none;
	padding: 2px 10px;
	float: right;
	margin: 0 5px 0 0;
}
nav ul li .btn:link, .btn:visited {
	color: white;
	background: #999;
	border-radius: 7px;
	border: 1px solid white;
	padding: 5px 15px;
	text-decoration: none;
	text-transform: uppercase;
}
nav ul li .btn:hover {
	color: black;
	background: white;
	border-radius: 7px;
	border: 1px solid white;
	padding: 5px 15px;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: 0.3s;
}
.about {
	position: absolute;
	top: 35%;
	left: 19%;
	background:#e6f5ff;
	color: black;
	margin: 5px 200px 15px 200px;
	padding: 10px;
}
.contact {
	position: absolute;
	top: 35%;
	left: 15%;
	background: white;
	color: black;
	margin: 5px 200px 15px 200px;
	padding: 10px;
	width: 35%;
	text-align: center;
}
.contactme {
	position: absolute;
	top: 82%;
	left: 56%;
	color: white;
	-webkit-text-stroke: 1px black;
}
.titlecontact {
	position: absolute;
	top: 11%;
	left: 38%;
	font-size: 56px;
}
.experiences {
	position: absolute;
	top: 35%;
	left: 19%;
	background:#275e91;
	color: white;
	margin: 5px 200px 15px 200px;
	padding: 10px;
}


.shad {
	position: absolute;
	top: 28%;
	left: 53%;
}
.background {
	position: absolute;
	height: 91%;
	width: 99.7%;
	z-index: -99;
	border-radius: 22px 22px 0 0;
	border: 2px solid black;
	margin: 0px;
}
.logo {
	position: relative;
	height: 280px;
	width: 280px;
	margin: 120px 0px 150px 80px;
	display: inline;
	border-radius: 7px;
}
.profile {
	position: absolute;
	height: 233.31px;
	width: 350px;
	margin: 130px 0px 0px 50px;
	display: inline;
	border-radius: 7px;
}
.PEI {
	position: absolute;
	top: 5%;
	height: 275px;
	width: 370px;
	margin: 140px 0px 0px 50px;
	display: inline;
	border-radius: 7px;
}
.rainbow {
	position: absolute;
	top: 12%;
	height: 250px;
	width: 350px;
	margin: 120px 0px 0px 50px;
	display: inline;
	border-radius: 7px;
}
.github {
	position: absolute;
	left: 36%;
	top: 55%;
	height: 110px;
	width: 110px;
}
.LinkedIn {
	position: absolute;
	left: 55%;
	top: 55%;
	height: 110px;
	width: 110px;
}
.row:after {
	clear: both;
}
/*.col {
	background: #444;
	float: left;
	margin: 1%;
	width: 30%;
	border-radius: 5px;
	border: 1px solid black;
	padding: 0.5%
}*/
footer {
	position: absolute;
	top: 90%;
	left: 90%;
	text-align: center;
	padding: 5px;
	color: white;
}
